<div class="container">

  <nav>
    <div>
    <div id="barra">
    <ul>
      <li id="welcome_name" style="float:left">Welcome <%user = User.find(session[:id])%><%=user.name%></li>
      <li><a href="/survey/new">Create a survey!</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
    <br clear="all">
    </div>
    </div>  
  </nav>

</div>

<!-- Show posted surveys -->

<!-- <div id="content_container">
  <form id="survey_container" action="/survey/new" method="post">
    <input type="text" name="survey_name" placeholder="Survey name."><br><br>
    <textarea type="text" name="survey_description" placeholder="Survey description."></textarea><br><br>
    <input type="submit" value="Create Survey"><br><br>
  </form>
</div> -->

<div id="survey_container">
  <h3>Recently posted surveys</h3>
  <%unless @all_surveys == []%>
      <%@all_surveys.each do |survey|%>
        <div="survey_container">
          <a id="survey_name_link" href="/surveys/<%=survey.id%>"><%=survey.name%></a><br><br>
        </div>
      <%end%>
    <%else%>
      <div="survey_container">
        <p>No surveys to show</p>
      </div>
  <%end%>

</div>