<div class="container">
  <nav>
    <div>
    <div id="barra">
    <ul>
      <li id="welcome_name">Welcome <%user = User.find(session[:id])%><%=user.name%></li>
      <li><a href="/survey/new">Create a survey!</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
    <br clear="all">
    </div>
    </div>  
  </nav>

  
  <div id="survey_container">   
    <form id="form_question" method="post">
      <p><span id="done_question">Done with Question</span></p>
      <p><input id="survey_name"type="text" name="survey_name" placeholder="Survey name."></p>
      <p><input id="final_submit" type="submit" value="Finish Survey"></p>   
    </form>
  </div>
  

</div>